<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

    <title>List Type</title>

</head>
<body>
<div class="container">
    <h1 class="my-3" style="color: red">Type</h1>
    <div class="row d-flex mx-3">
        <div class="col-9">
            <a class="btn btn-warning" role="button" th:href="@{/tours}">Tour</a>
        </div>
    </div>
    <br>
    <div class="row d-flex mx-3">
        <div class="col-9">
            <a class="btn btn-warning" role="button" th:href="@{/types/create}">Add Type</a>
        </div>
        <div class="col-3">
            <form class="d-flex" role="search" th:action="@{/types/search}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button type="submit" class="btn btn-warning">Search</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Name</th>

            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="t , Status: ${types}">
            <td th:text="${Status.count}"></td>
            <td th:text="${t.getName()}"></td>
            <td>
                <a class="btn btn-warning" role="button" th:href="@{/types/edit/{id}(id=${t.getId()})}">Edit</a>
            </td>
            <td>
                <a class="btn btn-warning" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:if="${types.hasPrevious()}"
       th:href="@{'/types?page='+${types.number - 1}}">Previous</a>
    <span th:text="${types.number + 1}"></span> | <span th:text="${types.totalPages}"></span>
    <a class="btn btn-primary" th:if="${types.hasNext()}"
       th:href="@{'/types?page='+${types.number + 1}}">Next</a>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>